{% extends 'main.html' %}

{% block title %} OTS-Registration Status {% endblock title %}
{% block top%}
<a href="{% url 'OTS:registrationForm' %}">Signup</a>
<a href="{% url 'OTS:login' %}">Login</a>
{%endblock %}
{% block content %}

{% if userStatus == 1%}
<div class="userStatus">
    Sorry, username is already exist, please try different username
 <a href="{% url 'OTS:registrationForm' %}">Back to candidate registration form</a>
</div>

{% elif userStatus == 2%}
<div class="userStatus">
    Congratulations, user created succesfully
 <a href="{% url 'OTS:login' %}">Login</a>
</div>

{% elif userStatus == 3%}
<div class="userStatus">
    Oops!!. Imprper Request
 <a href="{% url 'OTS:registrationForm' %}">Login</a>
</div>
{% endif %}
{% endblock %}